<% if (locals.book) { %>
<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <%- include('_form_fields.ejs',{imgRequired:false}) %>
  <div class="form-row">
    <div class="btn-row">
      <a href="/books" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
</form>
<% } %>