<header>
  <nav>
    <a href="/" class="logo">Mybrary</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/books">Books</a></li>
      <% if (locals.isAdmin) { %>
        <li><a href="/books/new-book">Add Book</a></li>
        <% } %>
      <li><a href="/authors">Authors</a></li>
      <% if (locals.isAdmin) { %>
        <li><a href="/authors/new-author">Add Author</a></li>
        <form action="<%= process.env.ADMIN_ROUTE %>/logout" method="post">
          <button type="submit" class="btn logout-btn">Logout</button>
        </form>
      <% } %>
    </ul>
  </nav>
</header>