<header>
  <nav>
    <a href="/">Mybrary</a>
    <ul>
      <li><a href="/all-books">Books</a></li>
      <li><a href="/all-books/new-book">Add Book</a></li>
      <li><a href="/all-authors">Authors</a></li>
      <li><a href="/all-authors/new-author">Add Author</a></li>
    </ul>
  </nav>
</header>