<header>
  <nav>
    <a href="/" class="logo">Mybrary</a>
    <ul>
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new-book">Add Book</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new-author">Add Author</a></li>
    </ul>
  </nav>
</header>