<h2>Edit Author</h2>
<form action="/all-authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include('_form_fields.ejs') %>
  <div class="form-row">
    <div class="btn-row">
      <a href="/all-authors/<%= author.id %>" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
</form>
