.advanced-search {
  transform: scaleY(0);
  max-height: 0;
  transition: transform var(--transition-main-duration), max-height var(--transition-main-duration);
  transform-origin: top;
}

#input-fields:target .advanced-search {
  transform: scaleY(1);
  max-height: 1000px;
}

#input-fields:target + .advanced-search-show {
  display: none;
}

.advanced-search-hide ,
.advanced-search-show {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  color: var(--color-main-light);
  padding-block:var(--gap-main) ;
}