.form-row:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width:992px) {
  .form-row:nth-child(3) .form-item-shrink {
    flex-basis: 0;
  }
}

.form-row:nth-child(3)>div {
  flex-grow: 1;
}

/* we used two :not() instead of one with two argument because of browsers supporting is poor*/
.form-row label:not(label.file-input-wrapper):not(label[for="description"])::before {
  content: "*";
  position: absolute;
  left: -0.6rem;
  color: var(--color-text-error);
}

.form-row label.file-input-wrapper {
  border-radius: 0.25rem;
  border: 1px solid var(--color-border-form-input);
  overflow: hidden;
  /* this line for solve scrolling to top problem when making file input position absolute */
  position: relative;
}

.form-row label.file-input-wrapper:focus-within {
  border: 1px solid var(--color-border-form-input-focus);
}

.form-row label.file-input-wrapper figure {
  margin: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-row label.file-input-wrapper img {
  width: 100%;
  max-height: max(30rem,80vh);
  /* for alt text */
  text-align: center;
  animation: image-show 2s;
  transition: opacity var(--transition-main-duration), filter var(--transition-main-duration);
  /* this for long height images */
  -o-object-fit: contain;
  object-fit: contain;
}

@keyframes image-show {
  from {
    transform: rotateY(160deg) scaleY(0);
  }
}

@media (hover:hover) {
  .form-row label.file-input-wrapper img:hover {
    opacity: 0.9;
    filter: blur(1px);
  }
}

.form-row label.file-input-wrapper figure figcaption {
  margin: 0.2rem;
  line-height: 1.3rem;
  overflow-wrap: anywhere;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: grid;
  text-align: center;
}

.form-row label.file-input-wrapper .chosen-file-error,
/* for alt text */
.form-row label.file-input-wrapper img {
  color: var(--color-text-error);
  font-size: 1.2rem;
}

.form-row input[type="file"] {
  height: 100%;
  padding: 1rem;
  cursor: pointer;
  white-space: normal;
  overflow-wrap: anywhere;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border: none;
}

/* applies only for not touch devices */
@media (hover:hover) {
  /* applies if the there is no chosen file */
  /* not working with firefox */
  .form-row input[type="file"]:invalid:after {
    content: "You can drag & drop files too.";
    display: block;
    margin-top: 0.25rem;
    text-align: center;
  }
}

/* this style for fallback when js not working for file input like when blocking js with add blocker */
.form-row input[type="file"]::-webkit-file-upload-button,
.form-row input[type="file"]::file-selector-button {
  border: none;
  border-radius: var(--gap-main);
  padding: var(--gap-main) 1rem;
  font-size: 1.2rem;
  margin-block: calc( -1 * var(--gap-main)) 0.25rem;
  margin-left: calc( -1 * var(--gap-main));
  cursor: pointer;
  font-family: inherit;
  color: var(--color-btn-primary);
  background-color: var(--color-background-btn-primary);
  display: block;
  transition: color var(--transition-main-duration), background-color var(--transition-main-duration);
}

.form-row input[type="file"]::-webkit-file-upload-button:hover {
  color: var(--color-btn-primary-hover);
  background-color: var(--color-background-btn-primary-hover);
}

.form-row input[type="file"]::file-selector-button:hover {
  /* duplicated from the rule above for fallback issues */
  color: var(--color-btn-primary-hover);
  background-color: var(--color-background-btn-primary-hover);
}