.advanced-search,
#input-fields:target + .advanced-search-show {
  display: none;
}

#input-fields:target .advanced-search {
  display: block;
}

.advanced-search-hide ,
.advanced-search-show {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  color: var(--color-main-light);
  padding-block:var(--gap-main) ;
}