:root {
  font-family: 'Gotham Rounded',sans-serif,monospace;
  color: var(--color-main-light);
  font-size: 14px;
  scroll-behavior: smooth;
}

*,*::before,*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right ,var(--color-main-background-dark),var(--color-main-background-light) ) ;
}

.container ,
.inner-container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width : 576px) {
  :root {
    font-size: 16px;
  }
  .container{
      max-width: 560px;
  }
}

@media (min-width : 768px) {
  :root {
    font-size: 17px;
  }
  .container{
      max-width: 750px;
  }
}

@media (min-width:992px) {
  :root {
    font-size: 18px;
  }
  .container{
      max-width: 970px;
  }
}

@media (min-width:1200px) {
  :root {
    font-size: 19px;
  }
  .container{
      max-width: 1170px;
  }
}

@media (min-width:1400px) {
  :root {
    font-size: 20px;
  }
  .container{
      max-width: 1360px;
  }
}

.container .error-messages {
  text-align: center;
  color: var(--color-text-error);
  font-size: 1.2rem;
  padding: var(--gap-main);
  margin-bottom: var(--gap-main);
  border: 1px solid currentColor;
}

.container .error-messages > :nth-child(2) {
  margin-top: var(--gap-main);
  border-top: inherit;
  padding-top: var(--gap-main);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
