:root {
  --font-size-logo:2.5rem;
  --font-weight-logo:bold;
  --font-weight-nav-link:300;
}

header a,
header .logout-btn {
  text-decoration: none;
  color: var(--color-main-light);
  transition: color var(--transition-main-duration);
}

header a:hover,
header .logout-btn:hover {
  color:white;
}

header a.logo {
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-logo);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

header li,
header .logout-btn {
  list-style: none;
  padding: var(--gap-main);
}

header li a {
  font-weight: var(--font-weight-nav-link);
}

header .logout-btn {
  font-size: inherit;
  border: none;
  background: transparent;
}