<% if (locals.author) { %>
  <h2><%= author.name %></h2>
  <% if (locals.isAdmin) { %>
    <div class="btn-row">
      <a href="/authors/<%= author.id %>/edit-author" class="btn btn-primary">Edit</a>
      <%- include('../partials/delete-form',{url:`/authors/${author.id}`}) %>
    </div>
  <% }else { %>
    <br>
  <% } %>

<% } %>

<% if (locals.books && books.length) { %>
  <h2>Books By Author</h2>
  <%- include('../partials/books',{books,largeCover:false}) %>
<% } %>